<template>
    <div id="p-main">
        <h1>{{ msg }}</h1>
        <p>
            <button class="topcoat-button--large hostFontSize" v-on:click="notify('228')">Click</button>
        </p>
    </div>
</template>

<script>
  export default {
    name: 'p-main',
    data () {
      return {
        msg: 'Premiere Panel'
      }
    },
    methods: {
      notify: function (msg) {
        alert(msg);
      }
    }
  }
</script>

<style scoped>
    #hello {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
